body {
  font-family: sans-serif;
  background: -webkit-radial-gradient(#F0F0F0, #D8D8D8);
  background: -moz-radial-gradient(#F0F0F0, #D8D8D8);
  background: -o-radial-gradient(#F0F0F0, #D8D8D8);
  background: radial-gradient(#F0F0F0, #D8D8D8);
  padding: 20px;
  font-family: 'Belgrano', serif;
  color: #1C1C1C;
  font-size:16px;
}
#container{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
p {
	line-height:1.9;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom:1px solid #AAAAAA;
}
header img{
	float:left;
	padding-right:20px;
}
header h1, header h2{
	border:none;
}
header h1{
	margin-bottom:0px;
}
header h2{
	font-size:18px;
	margin-top:0px;
}

a,a:visited{
	text-decoration:underline;
	color:#424242;
}
a:hover{
	color:#0489B1;
}

li{
  line-height:1.5;
}

#main {
  background-color:#fff;
  border:1px solid #444;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
/*  padding: 30px;
  background-color: white;
  border-radius: 10px;
  color: #444444;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px rgba(0,0,0,0.3);*/
}
table{
	width:100%
}
th,td{
	border:1px solid #333;
}
th{
	background: #333;
	color: #fff;
}
td{
}

a.aloha {
  padding: 0px 13px 0px 0px;
}

/* Abbreviation styling */
abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

/* A basic table styling */
.aloha_example table
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  color: #000;
}

.aloha_example table caption
{
  caption-side: bottom;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.aloha_example table th,
.aloha_example table td
{
  border: 1px solid #666;
  padding: 0.5em;
  text-align: left;
}

.aloha_example th {
	background-color: #dfd;
}

table caption
{
  caption-side: bottom;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

#main ol, ul {
	list-style-position: inside;
}

#main ol {
	list-style-type: decimal;
}

#main ul {
	list-style-type: disc;
}

/**
 * basic table styles
 */
.hor-minimalist-a
{
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist-a th
{
	font-size: 130%;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-a td
{
	padding: 9px 8px 0px 8px;
}
.hor-minimalist-a tbody tr:hover td
{
	color: #009;
}

.box-table-a
{
	text-align: left;
	border-collapse: collapse;
}
.box-table-a th
{
	font-size: 115%;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
}
.box-table-a td
{
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
}
.box-table-a tr:hover td
{
	background: #d0dafd;
}

.hor-zebra
{
	text-align: left;
	border-collapse: collapse;
}
.hor-zebra th
{
	font-size: 130%;
	font-weight: bold;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;

}
.hor-zebra td
{
	padding: 8px;
}
.hor-zebra tr:nth-child(2n+1) td
{
	background: #e8edff;
}

td.bigbold {
	font-size: 200%;
	font-weight: bold;
}
td.redwhite {
	background-color: red;
	color: white;
	font-weight: bold;
}

		.hor-minimalist-a
		{
			background: #fff;
			border-collapse: collapse;
			text-align: left;
		}
		.hor-minimalist-a th
		{
			font-size: 130%;
			font-weight: normal;
			padding: 10px 8px;
			border-bottom: 2px solid #6678b1;
		}
		.hor-minimalist-a td
		{
			padding: 9px 8px 0px 8px;
		}
		.hor-minimalist-a tbody tr:hover td
		{
			color: #009;
		}

		.box-table-a
		{
			text-align: left;
			border-collapse: collapse;
		}
		.box-table-a th
		{
			font-size: 115%;
			font-weight: normal;
			padding: 8px;
			background: #b9c9fe;
			border-top: 4px solid #aabcfe;
			border-bottom: 1px solid #fff;
		}
		.box-table-a td
		{
			padding: 8px;
			background: #e8edff;
			border-bottom: 1px solid #fff;
			border-top: 1px solid transparent;
		}
		.box-table-a tr:hover td
		{
			background: #d0dafd;
		}

		.hor-zebra
		{
			text-align: left;
			border-collapse: collapse;
		}
		.hor-zebra th
		{
			font-size: 130%;
			font-weight: bold;
			padding: 10px 8px;
			border-bottom: 2px solid #6678b1;

		}
		.hor-zebra td
		{
			padding: 8px;
		}
		.hor-zebra tr:nth-child(2n+1) td
		{
			background: #e8edff;
		}

		td.bigbold {
			font-size: 200%;
			font-weight: bold;
		}
		td.redwhite {
			background-color: red;
			color: white;
			font-weight: bold;
		}

		.aloha-placeholder {
			background: #ddd;
			color: #666;
			margin: 5px 0 0 0;
		}

		#typo3span {
			display: block;
		}
